<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Cook 4 U Restaurant - Strona domowa</title>
		<link rel="stylesheet" type= "text/css" href="style.css">
	</head>
	<body>
		<center>
			<h1>Cook 4 U</h1>
			
			<ul>
				<li>
					<a class = "active" href = "/">Home</a>
				</li>
				<li> 
					<a href = "restaurant"> Restaurant</a>
				</li>
				<li>
					<a href = "catering">Catering</a>
				</li>
				<li>
					<a href = "boxes">Boxes</a>
				</li>
				<li>
					<a href = "contact">Contact</a>
				</li>
			</ul>
			
		</center>
	</body>
</html>